* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/login_background.png');
    background-position: center;
    background-repeat: none;
    background-size: contain;
    position: relative;
}

.wrapper .glass {   
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);  
    filter: blur(10px);
    z-index: 1;
    opacity: 0.6;
    background-color: #000000;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.header-content img {
    width: 242px;
    height: 145px;
    opacity: 1;
}

.main-content {
    width: 540px;
    height: 495px;
    background: rgba(255, 255, 255, .9);
    /* background: #FFFF; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 49px 65px 59px;
}

.main-content h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 50px;
}

.login-form .login-input {
    width: 100%;
    position: relative;
}

.login-form .login-input input {
    width: 100%;
    padding: 14px 17px 14px 60px;
    border: 1px solid #EC6660;
    margin-bottom: 30px;
}

.login-form .login-input i {
    position: absolute;
    top: 20px;
    left: 17px;
}

.login-form .login-input input:focus {
    outline: 0;
}

.login-options {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.login-button {
    margin-top: 60px;
}

.login-button button {
    padding: 12px 44px;
    color: #fff;
    background-color: #EC6660;
    border: 1px solid transparent;
}



